:root {
    --font: "Inter", sans-serif;
    --primary_color: #318BEA;
    --accent_color: #FFD66E;
    --button_height: 40px;
    --padding: 20px;
    --padding_sm: 15px;
    --gap: 20px;
    --text_color: #000000;
    --text_color_70: #4C4C4C;
    --radius: 8px;
    --text_size_xl: 18px;
    --text_size_l: 16px;
    --text_size: 14px;
    --text_size_sm: 13px;
    --surface_color: #FFFFFF;
    --surface_color_alpha: rgba(255, 255, 255, 0.3);
    --shadow_deep: 0px 5px 40px rgba(0, 0, 0, 0.04);
}