$breakpoints: (
  'xs': ( max-width: 425px ),
  'sm': ( max-width: 600px ),
  'nm': ( max-width: 768px ),
  'md': ( max-width: 960px ),
  'lg': ( max-width: 1264px ),
  'xl': ( max-width: 1904px )
) !default;


@mixin screen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@include screen('md') {
  	:root {
		--text_size_xl: 16px;
		--text_size_l: 14px;
		--text_size_sm: 12px;
		--title_size: 20px;
		--padding_sm: .8rem;
		--padding: 1.2rem;
		--gap: 18px;
		--gap_sm: 10px;
    --gap_xl: 40px;
		--icon_size_xl: 28px;
		--padding_xl: 2rem;
  	}
}

@include screen('sm') {
  :root {
    --modal_slide_container_width: 100%;
  }
}

@include screen('xs') {
  :root {
    --text_size_xl: 15px;
  }
}