$breakpoints: (
  'xs': ( max-width: 425px ),
  'sm': ( max-width: 600px ),
  'md': ( max-width: 960px ),
  'lg': ( max-width: 1264px ),
  'xl': ( max-width: 1904px )
) !default;


@mixin screen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@include screen('md') {
  :root {
    --text_size_xl: 16px;
    --padding_sm: .8rem;
    --padding: 1rem;
    --gap: 18px;
    --gap_sm: 10px;
  }
}

@include screen('xs') {
  :root {
    --text_size_xl: 14px;
  }
}